<a href="https://colab.research.google.com/github/tejasbhosalepw/Assignments_by_tejas/blob/main/Pandas_Demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dict1 = {
    "name" : ['harry', 'tejas', 'rohan', 'rohit'],
    "marks": [32,65,87,90],
    "city" : ['rampur', 'mumbai', 'pune', 'delhi']
}

In [ ]:
|df = pd. DataFrame(dict1)

In [ ]:
df

    name  marks    city
0  harry     32  rampur
1  tejas     65  mumbai
2  rohan     87    pune
3  rohit     90   delhi

In [ ]:
df.columns = ['name','marks', 'city']

In [ ]:
df

    name  marks    city
0  harry     32  rampur
1  tejas     65  mumbai
2  rohan     87    pune
3  rohit     90   delhi

In [ ]:
def update_name(name):
  return name.upper()

In [ ]:
df

    name  marks    city
0  harry     32  rampur
1  tejas     65  mumbai
2  rohan     87    pune
3  rohit     90   delhi

In [ ]:
df.apply(len)

name     4
marks    4
city     4
dtype: int64

In [ ]:
df['city'].apply(len)

0    6
1    6
2    4
3    5
Name: city, dtype: int64

In [ ]:
df.apply(lambda x: x.min())

name     harry
marks       32
city     delhi
dtype: object

In [ ]:
df.to_csv("tej.csv")

In [ ]:
df.head(2)

    name  marks    city
0  harry     32  rampur
1  tejas     65  mumbai

In [ ]:
tej = pd.read_csv("tej.csv")

In [ ]:
tej

   Unnamed: 0   name  marks    city
0           0  harry     32  rampur
1           1  tejas     65  mumbai
2           2  rohan     87    pune
3           3  rohit     90   delhi

In [ ]:
tej['marks'][0] = 60

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
tej

NameError: ignored

In [ ]:
tej.index = (['first', 'second', 'third', 'fourth'])

In [ ]:
tej

        Unnamed: 0   name  marks    city
first            0  harry     60  rampur
second           1  tejas     65  mumbai
third            2  rohan     87    pune
fourth           3  rohit     90   delhi

In [ ]:
ser = pd. Series(np.random.rand(34))

In [ ]:
ser

0     0.730793
1     0.303177
2     0.143689
3     0.116508
4     0.570873
5     0.875997
6     0.889232
7     0.845204
8     0.714685
9     0.647729
10    0.865427
11    0.485028
12    0.546899
13    0.283941
14    0.673247
15    0.653845
16    0.311398
17    0.304244
18    0.591387
19    0.741391
20    0.749826
21    0.534394
22    0.495158
23    0.261434
24    0.232492
25    0.700168
26    0.239065
27    0.168990
28    0.788740
29    0.680260
30    0.339674
31    0.693203
32    0.731995
33    0.259959
dtype: float64

In [ ]:
from pandas.core import series
series

In [ ]:
newdf = pd.DataFrame(np.random.rand(334,5), index=np.arange(334))

In [ ]:
newdf.describe()

                0           1           2           3           4
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean     0.518907    0.498150    0.480652    0.495930    0.492826
std      0.289242    0.292849    0.289348    0.283136    0.292468
min      0.001332    0.000782    0.003262    0.001153    0.006583
25%      0.281402    0.230951    0.231647    0.250892    0.234446
50%      0.536572    0.501459    0.469741    0.488494    0.507858
75%      0.784038    0.747333    0.720514    0.751208    0.744654
max      0.996586    0.997680    0.996793    0.999767    0.998604

In [ ]:
newdf = pd.DataFrame(np.random.rand(334,5), index=np.arange(334))

In [ ]:
newdf.head()

          0         1         2         3         4
0  0.931329  0.800986  0.782067  0.801681  0.091887
1  0.877436  0.700913  0.309983  0.355391  0.543135
2  0.536278  0.109583  0.735362  0.818673  0.597435
3  0.161520  0.715225  0.580321  0.243457  0.428268
4  0.660220  0.716061  0.217964  0.644232  0.918467

In [ ]:
newdf

            0         1         2         3         4
0    0.931329  0.800986  0.782067  0.801681  0.091887
1    0.877436  0.700913  0.309983  0.355391  0.543135
2    0.536278  0.109583  0.735362  0.818673  0.597435
3    0.161520  0.715225  0.580321  0.243457  0.428268
4    0.660220  0.716061  0.217964  0.644232  0.918467
..        ...       ...       ...       ...       ...
329  0.711417  0.432732  0.080189  0.443866  0.011016
330  0.873903  0.569609  0.388022  0.131844  0.607616
331  0.579473  0.597950  0.676708  0.392924  0.749371
332  0.272295  0.540866  0.639586  0.066150  0.452115
333  0.962307  0.356798  0.019989  0.203659  0.680100

[334 rows x 5 columns]

In [ ]:
type(newdf)

pandas.core.frame.DataFrame

In [ ]:
newdf.describe()

                0           1           2           3           4
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean     0.504460    0.503247    0.500536    0.467841    0.492131
std      0.289504    0.279842    0.290879    0.286538    0.277203
min      0.001109    0.001618    0.001175    0.008377    0.001238
25%      0.270948    0.272127    0.239764    0.225981    0.264867
50%      0.492632    0.516740    0.516775    0.431809    0.490430
75%      0.760686    0.720142    0.745436    0.705244    0.731797
max      0.999566    0.996372    0.990217    0.992021    0.997391

In [ ]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [ ]:
newdf[0][0] = 'harry'

In [ ]:
newdf.head()

          0         1         2         3         4
0     harry  0.800986  0.782067  0.801681  0.091887
1  0.877436  0.700913  0.309983  0.355391  0.543135
2  0.536278  0.109583  0.735362  0.818673  0.597435
3   0.16152  0.715225  0.580321  0.243457  0.428268
4   0.66022  0.716061  0.217964  0.644232  0.918467

In [ ]:
newdf.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
           dtype='int64', length=334)

In [ ]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)

In [ ]:
newdf.to_numpy

<bound method DataFrame.to_numpy of             0         1         2         3         4
0       harry  0.800986  0.782067  0.801681  0.091887
1    0.877436  0.700913  0.309983  0.355391  0.543135
2    0.536278  0.109583  0.735362  0.818673  0.597435
3     0.16152  0.715225  0.580321  0.243457  0.428268
4     0.66022  0.716061  0.217964  0.644232  0.918467
..        ...       ...       ...       ...       ...
329  0.711417  0.432732  0.080189  0.443866  0.011016
330  0.873903  0.569609  0.388022  0.131844  0.607616
331  0.579473  0.597950  0.676708  0.392924  0.749371
332  0.272295  0.540866  0.639586  0.066150  0.452115
333  0.962307  0.356798  0.019989  0.203659  0.680100

[334 rows x 5 columns]>

In [ ]:
newdf[0][0] = 0.3

In [ ]:
newdf

            0         1         2         3         4
0         0.3  0.800986  0.782067  0.801681  0.091887
1    0.877436  0.700913  0.309983  0.355391  0.543135
2    0.536278  0.109583  0.735362  0.818673  0.597435
3     0.16152  0.715225  0.580321  0.243457  0.428268
4     0.66022  0.716061  0.217964  0.644232  0.918467
..        ...       ...       ...       ...       ...
329  0.711417  0.432732  0.080189  0.443866  0.011016
330  0.873903  0.569609  0.388022  0.131844  0.607616
331  0.579473  0.597950  0.676708  0.392924  0.749371
332  0.272295  0.540866  0.639586  0.066150  0.452115
333  0.962307  0.356798  0.019989  0.203659  0.680100

[334 rows x 5 columns]

In [ ]:
newdf.T

,0,1,2,3,4,5,6,7,8,9,...,324,325,326,327,328,329,330,331,332,333
0,0.3,0.877436,0.536278,0.16152,0.66022,0.472827,0.354059,0.445529,0.873398,0.522079,...,0.995476,0.85666,0.509011,0.793518,0.927092,0.711417,0.873903,0.579473,0.272295,0.962307
1,0.800986,0.700913,0.109583,0.715225,0.716061,0.119613,0.201116,0.532017,0.416581,0.396835,...,0.170224,0.605915,0.412436,0.341573,0.465809,0.432732,0.569609,0.59795,0.540866,0.356798
2,0.782067,0.309983,0.735362,0.580321,0.217964,0.685439,0.851811,0.09935,0.367405,0.343047,...,0.75596,0.574071,0.695861,0.932917,0.444822,0.080189,0.388022,0.676708,0.639586,0.019989
3,0.801681,0.355391,0.818673,0.243457,0.644232,0.27218,0.904821,0.944671,0.675827,0.483134,...,0.887529,0.446644,0.647803,0.939488,0.045639,0.443866,0.131844,0.392924,0.06615,0.203659
4,0.091887,0.543135,0.597435,0.428268,0.918467,0.521467,0.19672,0.595707,0.493422,0.097652,...,0.423022,0.302479,0.319234,0.064798,0.165789,0.011016,0.607616,0.749371,0.452115,0.6801

In [ ]:
newdf.sort_index(axis=0, ascending=False)

            0         1         2         3         4
333  0.962307  0.356798  0.019989  0.203659  0.680100
332  0.272295  0.540866  0.639586  0.066150  0.452115
331  0.579473  0.597950  0.676708  0.392924  0.749371
330  0.873903  0.569609  0.388022  0.131844  0.607616
329  0.711417  0.432732  0.080189  0.443866  0.011016
..        ...       ...       ...       ...       ...
4     0.66022  0.716061  0.217964  0.644232  0.918467
3     0.16152  0.715225  0.580321  0.243457  0.428268
2    0.536278  0.109583  0.735362  0.818673  0.597435
1    0.877436  0.700913  0.309983  0.355391  0.543135
0         0.3  0.800986  0.782067  0.801681  0.091887

[334 rows x 5 columns]

In [ ]:
newdf.head()

          0         1         2         3         4
0       0.3  0.800986  0.782067  0.801681  0.091887
1  0.877436  0.700913  0.309983  0.355391  0.543135
2  0.536278  0.109583  0.735362  0.818673  0.597435
3   0.16152  0.715225  0.580321  0.243457  0.428268
4   0.66022  0.716061  0.217964  0.644232  0.918467

In [ ]:
newdf[0]

0           0.3
1      0.877436
2      0.536278
3       0.16152
4       0.66022
         ...
329    0.711417
330    0.873903
331    0.579473
332    0.272295
333    0.962307
Name: 0, Length: 334, dtype: object

In [ ]:
type(newdf[0])

pandas.core.series.Series

In [ ]:
newdf2=newdf.copy()

In [ ]:
newdf2[0][0] = 98932

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
newdf

            0         1         2         3         4
0         0.3  0.800986  0.782067  0.801681  0.091887
1    0.877436  0.700913  0.309983  0.355391  0.543135
2    0.536278  0.109583  0.735362  0.818673  0.597435
3     0.16152  0.715225  0.580321  0.243457  0.428268
4     0.66022  0.716061  0.217964  0.644232  0.918467
..        ...       ...       ...       ...       ...
329  0.711417  0.432732  0.080189  0.443866  0.011016
330  0.873903  0.569609  0.388022  0.131844  0.607616
331  0.579473  0.597950  0.676708  0.392924  0.749371
332  0.272295  0.540866  0.639586  0.066150  0.452115
333  0.962307  0.356798  0.019989  0.203659  0.680100

[334 rows x 5 columns]

In [ ]:
newdf2

            0         1         2         3         4
0       98932  0.800986  0.782067  0.801681  0.091887
1    0.877436  0.700913  0.309983  0.355391  0.543135
2    0.536278  0.109583  0.735362  0.818673  0.597435
3     0.16152  0.715225  0.580321  0.243457  0.428268
4     0.66022  0.716061  0.217964  0.644232  0.918467
..        ...       ...       ...       ...       ...
329  0.711417  0.432732  0.080189  0.443866  0.011016
330  0.873903  0.569609  0.388022  0.131844  0.607616
331  0.579473  0.597950  0.676708  0.392924  0.749371
332  0.272295  0.540866  0.639586  0.066150  0.452115
333  0.962307  0.356798  0.019989  0.203659  0.680100

[334 rows x 5 columns]

In [ ]:
newdf.loc[0,0]=323

In [ ]:
newdf

            0         1         2         3         4
0         323  0.800986  0.782067  0.801681  0.091887
1    0.877436  0.700913  0.309983  0.355391  0.543135
2    0.536278  0.109583  0.735362  0.818673  0.597435
3     0.16152  0.715225  0.580321  0.243457  0.428268
4     0.66022  0.716061  0.217964  0.644232  0.918467
..        ...       ...       ...       ...       ...
329  0.711417  0.432732  0.080189  0.443866  0.011016
330  0.873903  0.569609  0.388022  0.131844  0.607616
331  0.579473  0.597950  0.676708  0.392924  0.749371
332  0.272295  0.540866  0.639586  0.066150  0.452115
333  0.962307  0.356798  0.019989  0.203659  0.680100

[334 rows x 5 columns]

In [ ]:
newdf.columns = list('ABCDE')

In [ ]:
newdf

            A         B         C         D         E
0         323  0.800986  0.782067  0.801681  0.091887
1    0.877436  0.700913  0.309983  0.355391  0.543135
2    0.536278  0.109583  0.735362  0.818673  0.597435
3     0.16152  0.715225  0.580321  0.243457  0.428268
4     0.66022  0.716061  0.217964  0.644232  0.918467
..        ...       ...       ...       ...       ...
329  0.711417  0.432732  0.080189  0.443866  0.011016
330  0.873903  0.569609  0.388022  0.131844  0.607616
331  0.579473  0.597950  0.676708  0.392924  0.749371
332  0.272295  0.540866  0.639586  0.066150  0.452115
333  0.962307  0.356798  0.019989  0.203659  0.680100

[334 rows x 5 columns]

In [ ]:
newdf.head()

          A         B         C         D         E
0       323  0.800986  0.782067  0.801681  0.091887
1  0.877436  0.700913  0.309983  0.355391  0.543135
2  0.536278  0.109583  0.735362  0.818673  0.597435
3   0.16152  0.715225  0.580321  0.243457  0.428268
4   0.66022  0.716061  0.217964  0.644232  0.918467

In [ ]:
newdf.head(2)

          A         B         C         D         E
0       323  0.800986  0.782067  0.801681  0.091887
1  0.877436  0.700913  0.309983  0.355391  0.543135

In [ ]:
newdf.loc[0,'A'] = 38283

In [ ]:
newdf

            A         B         C         D         E
0       38283  0.800986  0.782067  0.801681  0.091887
1    0.877436  0.700913  0.309983  0.355391  0.543135
2    0.536278  0.109583  0.735362  0.818673  0.597435
3     0.16152  0.715225  0.580321  0.243457  0.428268
4     0.66022  0.716061  0.217964  0.644232  0.918467
..        ...       ...       ...       ...       ...
329  0.711417  0.432732  0.080189  0.443866  0.011016
330  0.873903  0.569609  0.388022  0.131844  0.607616
331  0.579473  0.597950  0.676708  0.392924  0.749371
332  0.272295  0.540866  0.639586  0.066150  0.452115
333  0.962307  0.356798  0.019989  0.203659  0.680100

[334 rows x 5 columns]

In [ ]:
newdf.head(2)

          A         B         C         D         E
0     38283  0.800986  0.782067  0.801681  0.091887
1  0.877436  0.700913  0.309983  0.355391  0.543135

In [ ]:
newdf.head(2)

          A         B         C         D         E
0     38283  0.800986  0.782067  0.801681  0.091887
1  0.877436  0.700913  0.309983  0.355391  0.543135

In [ ]:
newdf

            A         B         C         D         E
0       38283  0.800986  0.782067  0.801681  0.091887
1    0.877436  0.700913  0.309983  0.355391  0.543135
2    0.536278  0.109583  0.735362  0.818673  0.597435
3     0.16152  0.715225  0.580321  0.243457  0.428268
4     0.66022  0.716061  0.217964  0.644232  0.918467
..        ...       ...       ...       ...       ...
329  0.711417  0.432732  0.080189  0.443866  0.011016
330  0.873903  0.569609  0.388022  0.131844  0.607616
331  0.579473  0.597950  0.676708  0.392924  0.749371
332  0.272295  0.540866  0.639586  0.066150  0.452115
333  0.962307  0.356798  0.019989  0.203659  0.680100

[334 rows x 5 columns]

In [ ]:
newdf.loc[[1,2],['C','D']]

          C         D
1  0.309983  0.355391
2  0.735362  0.818673

In [ ]:
newdf.head()

NameError: ignored

In [ ]:
newdf.loc[:,['C','D']]

NameError: ignored

In [ ]:
newdf

            A         B         C         D         E
0       38283  0.800986  0.782067  0.801681  0.091887
1    0.877436  0.700913  0.309983  0.355391  0.543135
2    0.536278  0.109583  0.735362  0.818673  0.597435
3     0.16152  0.715225  0.580321  0.243457  0.428268
4     0.66022  0.716061  0.217964  0.644232  0.918467
..        ...       ...       ...       ...       ...
329  0.711417  0.432732  0.080189  0.443866  0.011016
330  0.873903  0.569609  0.388022  0.131844  0.607616
331  0.579473  0.597950  0.676708  0.392924  0.749371
332  0.272295  0.540866  0.639586  0.066150  0.452115
333  0.962307  0.356798  0.019989  0.203659  0.680100

[334 rows x 5 columns]

In [ ]:
newdf.loc[[1,2],['C','D']]

          C         D
1  0.309983  0.355391
2  0.735362  0.818673

In [ ]:
newdf.loc[(newdf['A']<0.3)]

            A         B         C         D         E
3     0.16152  0.715225  0.580321  0.243457  0.428268
12    0.11952  0.167294  0.962474  0.637457  0.738055
15   0.109903  0.363508  0.640885  0.668870  0.392391
18   0.018809  0.688545  0.280120  0.406425  0.946798
22   0.040303  0.944302  0.346433  0.478481  0.085547
..        ...       ...       ...       ...       ...
304  0.079091  0.791822  0.979366  0.441411  0.534926
306  0.112857  0.095306  0.516018  0.078809  0.766649
311  0.221508  0.820067  0.483572  0.348770  0.481436
319  0.187445  0.672008  0.532433  0.446251  0.271311
332  0.272295  0.540866  0.639586  0.066150  0.452115

[95 rows x 5 columns]

In [ ]:
newdf.head(2)

          A         B         C         D         E
0     38283  0.800986  0.782067  0.801681  0.091887
1  0.877436  0.700913  0.309983  0.355391  0.543135

In [ ]:
newdf.iloc[0,4]

0.09188715493483424

In [ ]:
newdf.iloc[[0,1],[1,2]]

          B         C
0  0.800986  0.782067
1  0.700913  0.309983

In [ ]:
newdf.head()

          A         B         C         D         E
0     38283  0.800986  0.782067  0.801681  0.091887
1  0.877436  0.700913  0.309983  0.355391  0.543135
2  0.536278  0.109583  0.735362  0.818673  0.597435
3   0.16152  0.715225  0.580321  0.243457  0.428268
4   0.66022  0.716061  0.217964  0.644232  0.918467

In [ ]:
newdf.drop(['A'], axis=1)

            B         C         D         E
0    0.800986  0.782067  0.801681  0.091887
1    0.700913  0.309983  0.355391  0.543135
2    0.109583  0.735362  0.818673  0.597435
3    0.715225  0.580321  0.243457  0.428268
4    0.716061  0.217964  0.644232  0.918467
..        ...       ...       ...       ...
329  0.432732  0.080189  0.443866  0.011016
330  0.569609  0.388022  0.131844  0.607616
331  0.597950  0.676708  0.392924  0.749371
332  0.540866  0.639586  0.066150  0.452115
333  0.356798  0.019989  0.203659  0.680100

[334 rows x 4 columns]

In [ ]:
newdf.drop(['B'], axis=1)

            A         C         D         E
0       38283  0.782067  0.801681  0.091887
1    0.877436  0.309983  0.355391  0.543135
2    0.536278  0.735362  0.818673  0.597435
3     0.16152  0.580321  0.243457  0.428268
4     0.66022  0.217964  0.644232  0.918467
..        ...       ...       ...       ...
329  0.711417  0.080189  0.443866  0.011016
330  0.873903  0.388022  0.131844  0.607616
331  0.579473  0.676708  0.392924  0.749371
332  0.272295  0.639586  0.066150  0.452115
333  0.962307  0.019989  0.203659  0.680100

[334 rows x 4 columns]

In [ ]:
newdf

            A         B         C         D         E
0       38283  0.800986  0.782067  0.801681  0.091887
1    0.877436  0.700913  0.309983  0.355391  0.543135
2    0.536278  0.109583  0.735362  0.818673  0.597435
3     0.16152  0.715225  0.580321  0.243457  0.428268
4     0.66022  0.716061  0.217964  0.644232  0.918467
..        ...       ...       ...       ...       ...
329  0.711417  0.432732  0.080189  0.443866  0.011016
330  0.873903  0.569609  0.388022  0.131844  0.607616
331  0.579473  0.597950  0.676708  0.392924  0.749371
332  0.272295  0.540866  0.639586  0.066150  0.452115
333  0.962307  0.356798  0.019989  0.203659  0.680100

[334 rows x 5 columns]

In [ ]:
newdf.drop(['B'], axis=1, inplace=True)

In [ ]:
newdf

            A         C         D         E
0       38283  0.782067  0.801681  0.091887
1    0.877436  0.309983  0.355391  0.543135
2    0.536278  0.735362  0.818673  0.597435
3     0.16152  0.580321  0.243457  0.428268
4     0.66022  0.217964  0.644232  0.918467
..        ...       ...       ...       ...
329  0.711417  0.080189  0.443866  0.011016
330  0.873903  0.388022  0.131844  0.607616
331  0.579473  0.676708  0.392924  0.749371
332  0.272295  0.639586  0.066150  0.452115
333  0.962307  0.019989  0.203659  0.680100

[334 rows x 4 columns]

In [ ]:
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)

# Adding a new column to an existing DataFrame object with column label by passing new series

print ("Adding a new column by passing as Series:")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print df

print ("Adding a new column using the existing columns in DataFrame:")
df['four']=df['one']+df['three']

print df

SyntaxError: ignored

In [ ]:
a = 23

In [ ]:
a

23

In [ ]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [ ]:
C = 'tej'
print(C)

tej

In [ ]:
c = 5 + 4j

In [ ]:
type(c)

complex

In [ ]:
c.real

5.0

In [ ]:
c.imag

4.0

In [ ]:
c2 = 5 + 4i

SyntaxError: ignored

In [ ]:
s = 'pwskills'

In [ ]:
print(s)

pwskills

In [ ]:
s.remove[0]

AttributeError: ignored

In [ ]:
s[0]

'p'

In [ ]:
s[0:3]

'pws'

In [ ]:
s[0:100]

'pwskills'

In [ ]:
s[-1:-9:-1]

'sllikswp'

In [ ]:
s.upper()

'PWSKILLS'

In [ ]:
s.lower()

'pwskills'

In [ ]:
s.index('p')

0

In [ ]:
s.index('l')

5

In [ ]:
s.isupper()

False

In [ ]:
L = [1, 2, 3, 'true', 4.5]

In [ ]:
L

[1, 2, 3, 'true', 4.5]

In [ ]:
L[-1:-100:-1]

[4.5, 'true', 3, 2, 1]

In [ ]:
L[::-1]

[4.5, 'true', 3, 2, 1]

In [ ]:
L[2]

3

In [ ]:
L.append(45)

In [ ]:
L

[1, 2, 3, 'true', 4.5, 45]

In [ ]:
L.remove(3)

In [ ]:
L

[1, 2, 'true', 4.5, 45]

In [ ]:
L.reverse()

In [ ]:
L

In [ ]:
L.pop(2)

In [ ]:
L

NameError: ignored

In [ ]:
a = int(input('enter the start num'))
b = int(input('enter the last num'))
c= int(input('enter the divisible num'))
# def num(a,b,c):
for i in range(a,b):
  # l = []
  if i%c == 0:
    print(i)
    # l += i
# print(l)

[9]

In [ ]:
a = int(input('enter the start num'))
b = int(input('enter the last num'))
c= int(input('enter the divisible num'))
l = []
# def num(a,b,c):
for i in range(a,b):
  if i%c == 0:
    # print(i)
    l.append(i)
  # print(l)
print(l)
sum = 0
j=0
for j in range(len(l)):
  # sum= sum + j
  # print(sum)
  print(j)

enter the start num1
enter the last num6
enter the divisible num2
[2, 4]
0
1

In [ ]:
A = int(input('enter the starting num'))
B = int(input('enter the last num'))
M = int(input('enter the divisible num'))
def sumDivisibles(A, B, M):
    sum = 0
    for i in range(A, B + 1):
        if (i % M == 0):
            sum += i
    return sum

def sum1divisible(A,B,M):
    l = []
    for i in range(A, B + 1):
        if (i % M == 0):
            l.append(i)
    return l
if __name__=="__main__":
    print(sumDivisibles(A, B, M))
    print(sum1divisible(A,B,M))

enter the starting num1
enter the last num15
enter the divisible num2
56
[2, 4, 6, 8, 10, 12, 14]